Source: python-markdown
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Dmitry Shachnev <mitya57@debian.org>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-python3,
               mkdocs (>= 1.5) <!nodoc>,
               mkdocs-gen-files <!nodoc>,
               mkdocs-literate-nav <!nodoc>,
               mkdocs-nature (>= 0.6) <!nodoc>,
               mkdocs-section-index <!nodoc>,
               mkdocstrings <!nodoc>,
               mkdocstrings-python-handlers <!nodoc>,
               pybuild-plugin-pyproject,
               python3-all,
               python3-doc,
               python3-packaging,
               python3-pygments,
               python3-setuptools (>= 61.2),
               python3-tidylib,
               python3-yaml
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/Python-Markdown/markdown
Vcs-Git: https://salsa.debian.org/python-team/packages/python-markdown.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-markdown

Package: python3-markdown
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Recommends: python3-pygments, python3-yaml
Suggests: python-markdown-doc
Description: text-to-HTML conversion library/tool (Python 3 version)
 Markdown is a text-to-HTML conversion tool for web writers. Markdown
 allows you to write using an easy-to-read, easy-to-write plain text
 format, then convert it to structurally valid XHTML (or HTML).
 .
 This is a Python implementation of John Gruber's Markdown. The current
 version of python-markdown implements all Markdown syntax features and
 fully passes Markdown Test Suite 1.0. It also supports footnotes and
 attributes.
 .
 This package contains all the files needed to use Markdown with Python
 3.x.

Package: python-markdown-doc
Build-Profiles: <!nodoc>
Architecture: all
Depends: ${misc:Depends}, ${mkdocs:Depends}
Recommends: python3-doc
Section: doc
Description: text-to-HTML conversion library/tool (documentation)
 Markdown is a text-to-HTML conversion tool for web writers. Markdown
 allows you to write using an easy-to-read, easy-to-write plain text
 format, then convert it to structurally valid XHTML (or HTML).
 .
 This is a Python implementation of John Gruber's Markdown. The current
 version of python-markdown implements all Markdown syntax features and
 fully passes Markdown Test Suite 1.0. It also supports footnotes and
 attributes.
 .
 This package contains HTML documentation files for python-markdown.
